/* Para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
    .logo {
        position: relative;
        font-size: 40px;
        left: 45px;
    }

    .btnlogin {
        position: relative;
        top: 20px;
        right: 30px;
    }

    .title {
        position: relative;
        left: 0px;
        right: 20px;
    }

    .btnlogin button {
        font-size: 15px;
    }

    nav ul {
        position: relative;
        bottom: 45px;
        left: 60px;
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}