body {
  margin: 0;
  padding: 0;
}

/*     SLIDE      */
.slider {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.slider-container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slider-container img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  flex-shrink: 0;
}

/*    FIM     */

.page-1 {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.534);
}

/*   LOVA       */
.logo {
  position: relative;
  color: white;
  left: 50px;
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  text-shadow: 0px 0px 50px rgba(248, 247, 247, 0.945);
  cursor: pointer;
  letter-spacing: 2px;
}

/*      FIM      */

/*  NAV-TOP */
.headertop {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 0px;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menutop {
  top: 20px;
  position: relative;
  right: 50px;
}

.menutop ul {
  display: flex;
  list-style: none;
}

.menutop li {
  font-size: 20px;
  color: white;
  margin-right: 25px;
  cursor: pointer;
}
.btnlogin{
    position: relative;
    top: 50px;
    right: 100px;
}
.btnlogin button{
    color: white;
    padding: 10px 40px 10px;
    border: 2px solid rgb(253, 253, 253);
    border-radius: 10px;
    font-size: 18px;
    background-color: #02010100;
}

.btnlogin button:hover{
      background-color: white;
      color: rgb(0, 0, 0);
      transition: color 2s ease-out all;
      transform: translateY(-3px);
      transition: background-color 0.5s ease-in;
      cursor: pointer;
      transition: 1s all;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnlogin button:active{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
}


/*     FIM    */


/*     TITULO    */
.page-1 .title {
  position: absolute;
  top: 350px;
  left: 50px;
  color: white;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.page-1 .title h1 {
  font-size: 40px;
}

.page-1 .title p {
  font-size: 16px;
  letter-spacing: 3px;
}

/*     FIM    */


/*      MENU LOGIN    */
#login {
  display: none;
  position: absolute;
  align-items: center;
  text-align: center;
  background-color: #5642352d;
  backdrop-filter: blur(20px);
  width: 20%;
  height: 50%;
  left: 700px;
  top: 250px;
  border-radius: 5px;
  /*   
  animation-name: ;
  */
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  border: 2px solid hsla(0, 0%, 0%, 0.205);
  z-index: 2;
}

#login h1 {
  color: rgb(255, 255, 252);
  font-size: 50px;
  letter-spacing: 2px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  text-shadow: 0px 0px 50px white;
}

#login h4 {
  color: white;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: red;
  width: 50px;
  margin-left: 334px;
  margin-top: 0px;
  height: 26px;
  border-radius: 5px;
  border-bottom: 1px solid black;
}

#login h4:hover {
  opacity: 70%;
}


form input {
  font-size: 19px;
  margin-top: 20px;
  padding: 10px 90px 9px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(255, 255, 255);
  background-color: transparent;
}

.checkbox {
  position: relative;
  width: 50%;
  color: rgb(14, 10, 10);
  left: -20px;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.checkbox label input {
  cursor: pointer;
}

ion-icon {
  position: relative;
  color: white;
  font-size: 20px;
  top: 5px;
}

.botao button {
  width: 50%;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid rgba(156, 156, 156, 0.479);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
  transition: 1.5s;
  cursor: pointer;

}

.botao button:hover {
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  transition: color 0.3s ease-in;
  transition: background 1s ease-out;
}

.botao {
  margin-top: 10px;
}


form .forgot {
  position: relative;
  left: 130px;
  top: -21px;

}

form .forgot a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

form input::placeholder {
  color: rgb(14, 13, 13);
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*     FIM    */


.Pagina-2 {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;

}

.Pagina-2 h1 {
  position: relative;
  color: rgba(26, 24, 24, 0.959);
  border-top: 2px solid rgb(139, 139, 139);
  width: 12%;
  left: 20px;
  margin: 0;
  top: 40px;
}

.esquerda {
  width: 50%;
  background-color: #F2EEEB;
  height: 100vh;
}



.direita {
  width: 50%;
  background-color: #D9C6BA;
  height: 100vh;
}





/* CARD PRODUTOS   */

/*       CARD CONTAINER    */
.Pro-div {
  display: flex;
}

.card-1 {
  margin-right: 20px;
  width: 190px;
  height: 300px;
  top: 300px;
  left: 25px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-2 {
  width: 190px;
  height: 300px;
  left: 25px;
  top: 300px;
  padding: .8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*       FIM    */

.card-img {
  background-color: #ffcaa6;
  height: 40%;
  width: 100%;
  border-radius: .5rem;
  transition: .3s ease;
}

.card-info {
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-25%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*   FIM     /*





/* KEYFRAMES /

@keyframes important1 {
  from {
    box-shadow: 2px 0px 50px hsla(216, 100%, 48%, 0.432);
  }

  50% {
    box-shadow: 0px 0px 30px hsl(0, 0%, 100%);
  }

  to {
    box-shadow: 0px 0px 10px hsla(243, 45%, 15%, 0.11);
  }
}